.l-carousel
  position: relative

  .b-carousel-left-control, .b-carousel-right-control
    width: 30px
    height: 50px
    background-color: #adff2f
  .b-carousel-left-control, .b-carousel-right-control, .l-carousel-viewport
    vertical-align: middle
    display: inline-block

  .b-carousel-left-control
  .b-carousel-right-control
  .l-carousel-viewport
    overflow: hidden
    position: relative

    .b-carousel-viewport
      list-style-type: none
      padding: 0
      margin: 0
      li
        display: inline-block